* {
    box-sizing: border-box;
}


/*
design needs to be responsive
media queries?"
:
*/

header {
    text-align: center;
    color: red;
    text-shadow: 1px 1px black;
}

body {
    background-color: black;
    color: white;
}

.buttons {
    font-size: 16px;
    text-align: center;
    border-radius: 60%;
    margin-top: 50px;
}

.questions {
    text-align: center;
}

.recommendation {
    text-align: center;
}

.beginButton {
    border-radius: 60%;
}

.submitButton {
    border-radius: 60%
}

