* {
    box-sizing: border-box;
}


/*
design needs to be responsive
media queries
*/

header {
    text-align: center;
    color: red;
    text-shadow: 1px 1px black;
}

.img {
    position: relative;
}

body {
    background-color: black;
    color: white;
}

.beginButton {
    font-size: 16px;
    border-radius: 60%;
}

.submitButton {
    font-size: 16px;
    border-radius: 60%;
}

.nextButton {
    font-size: 16px;
    border-radius: 60%;
}

.finishButton {
    font-size: 16px;
    border-radius: 60%;
}