* {
    box-sizing: border-box;
}


/*
design needs to be responsive
media queries?"
:
*/

header {
    text-align: center;
    color: red;
    text-shadow: 1px 1px black;
}

.img {
    position: relative;
}

body {
    background-color: black;
    color: white;
}

.buttons {
    font-size: 16px;
    border-radius: 60%;
    text-align: center;
}


/*.beginButton {
    font-size: 16px;
    border-radius: 60%;
    text-align: center;
    position: absolute;
    top: 25%;
}

.submitButton {
    font-size: 16px;
    border-radius: 60%;
    text-align: center;
    position: absolute;
    top: 40%;
}

.finishButton {
    font-size: 16px;
    border-radius: 60%;
}*/