 @media only screen and (min-width: 640px) {
     header {
         max-width: 640px;
         padding-left: 20px;
         padding-right: 20px;
         margin: 0 auto;
     }
     .choices {
         max-width: 640px;
     }
     .col {
         min-width: 100%;
     }
 }
 
 @media (max-width: 1000px) {
     body {
         font-size: large;
     }
 }
 
 @media (max-width: 500px) {
     body {
         font-size: small;
     }
     .row {
         max-width: 1000px;
         padding-left: 20px;
         padding-right: 20px;
         margin: 0 auto;
     }
     iframe {
         display: block;
         margin: 0 auto;
         width: 100%;
     }
 }
 
 .row {
     max-width: 1000px;
     padding-left: 20px;
     padding-right: 20px;
     margin: 0 auto;
 }
 
 .col {
     float: left;
     padding-left: 1.04166666%;
     padding-right: 1.04166666%;
     width: 100%;
 }
 
 @media only screen and(min-width: 640px) {
     .col {
         width: 100%;
     }
 }