  * {
    box-sizing: border-box;
  }
  
  header {
    color: #710BA0;
    text-shadow: 1px 1px black;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 2em;
  }
  
  body {
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    font-size: x-large;
  }
  
  .buttons {
    text-align: center;
    border-radius: 60%;
    margin-top: 50px;
    padding-bottom: 10px;
  }
  
  .questions {
    text-align: center;
    color: #4600A0;
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    text-shadow: 1px 1px black;
  }
  
  .recommendation {
    text-align: center;
    color: #7C4A89;
    font-family: 'Lobster Two', cursive;
    text-shadow: 1px 1px black;
    display: inline-grid;
  }
  
  .choices {
    color: #4535B7;
    font-family: 'Lobster Two', cursive;
    text-shadow: 1px 1px black;
    text-align: inherit;
  }
  
  .buttons input {
    border-radius: 60%;
    background-color: #B75A8C;
    height: 50px;
    width: 100px;
    font-size: 1.033em;
    font-family: 'Bigshot One', cursive;
  }
  
  .fullscreenVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }
  
  main {
    background-color: #AD4B3A;
    border-radius: 11px;
    display: inline;
  }
  
  iframe {
    display: block;
    margin: 0 auto;
  }
  
  @media only screen and (min-width: 640px) {
    header {
      max-width: 640px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
    }
    .choices {
      max-width: 640px;
    }
  }
  
  @media (max-width: 1000px) {
    body {
      font-size: large;
    }
  }
  
  @media (max-width: 500px) {
    body {
      font-size: small;
    }
    iframe {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }